.Nav {
  border-bottom: 2px solid #c3c3c3;
  height: 7vh;
  background-color: #ebebeb;
  color: grey !important;
  font-weight: 600;
  position: sticky;
  top: 0vh;
  z-index: 2;
}
.NavText {
  margin-left: 10px;
}
.NavList {
  display: flex;
  justify-content: space-evenly;
  gap: 1vh;
}
.nav_items {
  color: grey !important;
}
.nav_items > p {
  white-space: nowrap;
}
.active {
  color: #026bff !important;
}
